# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/

# будут игнорироваться все файлы и каталоги, заканчивающиеся на _old
# вне зависимости от того, в каком каталоге они находятся
*_old  

# будут игнорироваться все файлы и каталоги, заканчивающиеся на _backup
# вне зависимости от того, в каком каталоге они находятся
*_backup 

# будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db

# будут игнорироваться все файлы и каталоги, заканчивающиеся на .DS_Store
# вне зависимости от того, в каком каталоге они находятся
*.DS_Store